*{
    box-sizing:border-box;
}
.container-main {
    width: 45rem !important;
    min-height: 23.125rem;
    background: #ffffff;
    margin-top: 0.5rem;
    margin: 0 auto;
}
.todo-title::after {
    content: '()';
}

.btn-add-todo {
max-width: 75px;
}

.btn-add-todo:hover {
background: #1a83cc;
}
.btn-add-todo::before{
    content: '+ ';
    font-size: 1.2rem;
    font-weight: bold;
}

#input-add-todo, button{
    outline:none;
    border:none;
    box-shadow:  -1px -1px 2px transparent,
                  1px 1px 2px transparent;
    transition: border .25s ease-in;
                } 

.row p:hover {
    background-color: rgba(0,0,0,0.05);
    transition: .5s;
}

.close {
    cursor: pointer;
}
